# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# Virtual Environment
venv/
env/
.env
.venv/

# Django specific
*.sqlite3
db.sqlite3
media/
staticfiles/

# Migrations
*/migrations/__pycache__/
*/migrations/*.py

# IDE / Editor files
.idea/
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db

#
missing_persons/
